@import "../../../../sass/var"

mat-card
  margin-bottom: $margin-sm
  mat-card-content.main-card-content-hero
    margin-bottom: 0
  mat-card-actions
    &.mat-card-action-gallery
      padding-top: 3px
    mat-card-subtitle
      margin-bottom: $margin-xs
