@import "../../../../sass/var"

.audio-recorder-button
  button
    margin:
      left: 0
      right: $margin-sm
.audio-recorder-player
  margin-top: $margin-sm
.audio-recorder-timer
  border: 1px solid rgba(0, 0, 0, .12)
  color: rgba(0, 0, 0, .26)
  box-sizing: border-box
  position: relative
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  cursor: pointer
  outline: none
  -webkit-tap-highlight-color: transparent
  display: inline-block
  white-space: nowrap
  text-decoration: none
  vertical-align: baseline
  text-align: center
  margin: 0
  min-width: 64px
  line-height: 33px
  font-weight: $font-weight-lg
  padding: 0 16px
  border-radius: 4px
  overflow: visible
