@import "../../../sass/var"

mat-card
  margin-top: $block-space-sm

.mat-card-content-plot
  height: 80vh

// For link midpoint (now disable):
.linkMidpoint
  ellipse
    fill: white
    stroke: black
    stroke-width: 1
  text
    stroke: transparent
    fill: black
    text-anchor: middle

.create-node-container
  p
    margin-bottom: 0
  .create-node-actions
    display: flex
    align-items: center
    .node-list
      margin-right: $margin-sm
      font-size: $font-size-xl * 1.3
      .node-wrap
        color: $warning
    .node-img
      margin-right: $margin-sm
      width: 25px
    .node-btn
      button
        margin-right: $margin-xs
