@import "../../../sass/var"

mat-card
  margin-top: $block-space-sm

.mat-card-content-plot
  height: 70vh
  overflow-y: hidden
  .nodes-manage-wrapper
    mat-card-subtitle
      margin-bottom: 0
    .nodes-manage-actions
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: $margin-sm
      .nodes-manage-connection
        display: flex
        align-items: center
        .node
          margin-right: $margin-sm
          font-size: $font-size-xl
          white-space: nowrap
          &.first
            .node-wrapper
              color: $info
          &.second
            .node-wrapper
              color: $warning
        .node-image
          margin-right: $margin-sm
          width: 25px
        .node-buttons
          button
            margin-right: $margin-xs

// Node
.node-selected-first,
.node-selected-second
  stroke-width: 3
.node-selected-first
  stroke: $info
.node-selected-second
  stroke: $warning

// Link midpoint (now disable):
.linkMidpoint
  ellipse
    fill: white
    stroke: black
    stroke-width: 1
  text
    stroke: transparent
    fill: black
    text-anchor: middle
