//----------------------------------------------------------------------------------------------------------------------
// Start / import
//----------------------------------------------------------------------------------------------------------------------
@import "./sass/var"

// Bootstrap / Bootswatch:
@import "../node_modules/bootstrap/scss/bootstrap.scss"
@import "../node_modules/bootswatch/dist/sketchy/_bootswatch.scss"
@import "../node_modules/bootswatch/dist/sketchy/bootstrap.min.css"
//@import "../node_modules/bootswatch/dist/journal/bootswatch"
//@import "../node_modules/bootswatch/dist/journal/bootstrap.min.css"

// Ks Modal Gallery:
@import "../node_modules/filepond/dist/filepond.min.css"
@import '../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'

// Froala Editor:
@import "../node_modules/froala-editor/css/froala_editor.pkgd.min.css"
@import "../node_modules/froala-editor/css/froala_style.min.css"
@import "../node_modules/froala-editor/css/themes/dark.min.css" // Dark Theme
@import "../node_modules/froala-editor/css/plugins/code_view.min.css" // Code View Plugin
@import "../node_modules/froala-editor/css/plugins/colors.min.css" // Colors Plugin
@import "../node_modules/froala-editor/css/plugins/draggable.min.css" // Draggable Plugin
@import "../node_modules/froala-editor/css/third_party/embedly.min.css" // Embedly Plugin
@import "../node_modules/froala-editor/css/plugins/emoticons.min.css" // Emoticons Plugin
@import "../node_modules/froala-editor/css/plugins/file.min.css" // File Plugin
@import "../node_modules/froala-editor/css/plugins/fullscreen.min.css" // Fullscreen Plugin
@import "../node_modules/froala-editor/css/plugins/help.min.css" // Help Plugin
@import "../node_modules/froala-editor/css/plugins/image.min.css" // Image Plugin
@import "../node_modules/froala-editor/css/plugins/image_manager.min.css" // Image Manager Plugin
@import "../node_modules/froala-editor/css/third_party/image_tui.min.css" // Image Tui Plugin
@import "../node_modules/froala-editor/css/plugins/line_breaker.min.css" // Line Breaker Plugin
@import "../node_modules/froala-editor/css/plugins/quick_insert.min.css" // Quick Insert Plugin
@import "../node_modules/froala-editor/css/plugins/special_characters.min.css" // Special Characters Plugin
@import "../node_modules/froala-editor/css/third_party/spell_checker.min.css" // Spell Checker Plugin
@import "../node_modules/froala-editor/css/plugins/table.min.css" // Table Plugin
@import "../node_modules/froala-editor/css/plugins/video.min.css" // Video Plugin

//----------------------------------------------------------------------------------------------------------------------
// Generic
//----------------------------------------------------------------------------------------------------------------------
//*
//  outline: none

*,
*::before,
*::after
  box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $dark
  color: #fff

body
  height: 100%
  scroll-behavior: smooth
  text-rendering: optimizeSpeed
  min-width: 320px
  position: relative
  line-height: 1.65
  overflow-x: hidden
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: $danger
    &:required:valid
      border-color: $success

.cut-text
  display: block
  max-width: 98%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

img
  border-radius: 3px
  user-drag: none
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none

//----------------------------------------------------------------------------------------------------------------------
// Buttons
//----------------------------------------------------------------------------------------------------------------------
// Modal close button
.close
  &:before, &:hover:before, &:focus:before, &:active:before
    position: absolute
    content: ""
    color: transparent
  img
    width: 20px

//----------------------------------------------------------------------------------------------------------------------
// Scroll
//----------------------------------------------------------------------------------------------------------------------
::-webkit-scrollbar-button
  height: 15px
  background: $light
::-webkit-scrollbar-track
  background-color: $dark
::-webkit-scrollbar-thumb
  background-color: lighten($dark, 20%)
::-webkit-resizer
  width: 5px
::-webkit-scrollbar
  width: 10px

//----------------------------------------------------------------------------------------------------------------------
// Form validator
//----------------------------------------------------------------------------------------------------------------------
input, textarea
  &.ng-invalid.ng-touched
    border-color: $danger
  &.ng-valid.ng-touched
    border-color: $success

//----------------------------------------------------------------------------------------------------------------------
// Drag And Drop icon
//----------------------------------------------------------------------------------------------------------------------
img[alt="drag"]
  width: 30px
  height: auto
  cursor: pointer
  position: absolute
  bottom: 10px
  right: 10px

//----------------------------------------------------------------------------------------------------------------------
// Filepond
//----------------------------------------------------------------------------------------------------------------------
// Style: https://pqina.nl/filepond/docs/patterns/api/style/

.filepond--root
  font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

//----------------------------------------------------------------------------------------------------------------------
// KsModalGallery
//----------------------------------------------------------------------------------------------------------------------
.plain-container-row
  align-items: center
  display: flex
  flex-direction: row
  justify-content: flex-start
  flex-wrap: wrap
  .more
    cursor: pointer
    color: $info
  .cover-custom-image-row
    object-fit: cover
    .custom-image-row
      cursor: pointer
      height: 60px
      margin: 5px

.close-image
  background-image: url(./assets/icons/close.png) !important
.left-arrow-image
  background-image: url(./assets/icons/left.png) !important
  opacity: .8
  transition: .5s
.right-arrow-image
  background-image: url(./assets/icons/right.png) !important
  opacity: .8
  transition: .5s

//----------------------------------------------------------------------------------------------------------------------
// Froala Editor
//----------------------------------------------------------------------------------------------------------------------
.fr-box
  .fr-quick-insert
    left: -20px !important
  .fr-qi-helper
    a svg
      margin-top: -12px !important

//----------------------------------------------------------------------------------------------------------------------
// End
//----------------------------------------------------------------------------------------------------------------------
@import "./sass/media"
